<app-header></app-header>
<mat-toolbar>
  Change password
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="change-password-form">
  <mat-form-field style="width: 100%;">
    <input type="password" formControlName="password" matInput placeholder="Password">
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <input type="password" formControlName="new_password" matInput placeholder="New Password">
  </mat-form-field>
  <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary" style="width: 100%;">Change password</button>&nbsp;
</form>
