<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="key">
    <mat-header-cell *matHeaderCellDef> key </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.key}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> value </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.value}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> action </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-raised-button color="primary" (click)="openEdit(row.key)">Edit</button>
      <button mat-raised-button color="warn" (click)="delete(row.key, row.value)">Delete</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button mat-fab style="position: fixed; bottom: 20px; right: 20px;">
  <mat-icon (click)="openAdd()">add</mat-icon>
</button>